:root {
    --black: #07060B;
    --primary: #46F4DB;
    --primary-active: #57D272;
    --button-cta: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
    --red: #D13130;
    --red_secondary: #FF6F6F;
    --grey-light: #EDEDF2;
    --grey-middle: #95959D;
    --white: #FFF;
}