@media (max-width: 1750px) {
    .promo__bg1 {
        display: none;
    }
    .promo__bg2 {
        display: block;
    }
}

@media (max-width: 1319.98px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }


    .auction__bidding {
        flex-direction: column;
    }
    .auction__bet {
        margin-right: 0;
        margin-bottom: 32px;
    }


    
}
//---------------------------------------------------------------------------
@media (max-width: 1199.98px) {}
//----------------------------------------------------------------------------
@media (max-width: 991.98px) {
    .other__block {
        flex: 0 1 33.33%;
    }
    

    .new {
        min-height: 607px;
    }
}
//----------------------------------------------------------------------------
@media (max-width: 767.98px) {
    .header {
        height: 111px;
    }
    .header__logo {
        width: 75px;
        height: 30px;
        svg {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .header__links {
        position: absolute;
        top: 81px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        justify-content: space-around;
    }
    .header__link {
        &:not(:last-child) {
            margin-right: 0px;
        }
    }
    .header__btn {
        display: none;
    }
    .header__logo2 {
        display: block;
    }
    .header__divider {
        display: block;
        position: absolute;
        top: 70px;
    }


    .promo {
        padding-top: 64px;
    }
    .promo__content {
        max-width: 300px;
        h1 {
            font-size: 35px;
            margin-bottom: 16px;
        }
    }
    .promo__btns {
        display: flex;
        flex-direction: column;
    }
    .promo__buy {
        margin-bottom: 16px;
        font-size: 16px;
    }
    .promo__author {
        padding: 7px 7px;
    }
    .promo__author-text {
        font-size: 16px;
    }


    .auction {
        padding-top: 80px;
    }
    .auction__block {
        flex-direction: column;
    }
    .auction__image {
        align-self: center;
    }


    .other__block {
        flex: 0 1 50%;
    }


    .new {
        min-height: 500px;
    }
    .new__descr {
        font-size: 50px;
    }

}
//----------------------------------------------------------------------------
@media (max-width: 575.98px) {
    .header__link {
        font-size: 16px;
    }


    .promo {
        min-height: 531px;
    }
    .promo__wrapper {
        display: flex;
        justify-content: center;
    }
    .promo__bg2 {
        display: none;
    }
    .promo__bg3 {
        display: block;
    }


    .auction__title {
        h2 {
            font-size: 30px;
        }
    }
    .auction__live {
        font-size: 12px;
    }
    .auction__image {
        width: 296px;
        height: 296px;
    }
    .auction__name {
        margin-bottom: 16px;
    }
    .auction__nickname {
        font-size: 16px;
    }
    .auction__subtitle {
        margin-bottom: 16px;
        font-size: 30px;
    }
    .auction__bet {
        margin-bottom: 16px;
        width: 174px;
        height: 126px;
        padding-top: 16px;
        padding-left: 16px;
    }
    .auction__bet-title {
        font-size: 16px;
    }
    .auction__bet-quantity {
        font-size: 30px;
    }
    .auction__bet-rate {
        font-size: 16px;
    }
    .auction__ending {
        width: 200px;
        height: 116px;
        padding-top: 16px;
        padding-left: 16px;
    }
    .auction__ending-title {
        font-size: 16px;
    }
    .auction__ending-hour-title {
        font-size: 30px;
    }
    .auction__ending-hour-descr {
        font-size: 16px;
    }
    .auction__ending-minutes-title {
        font-size: 30px;
    }
    .auction__ending-minutes-descr {
        font-size: 16px;
    }
    .auction__ending-seconds-title {
        font-size: 30px;
    }
    .auction__ending-seconds-descr {
        font-size: 16px;
    }
    .auction__ending-img {
        display: none;
    }
    .auction__btn {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }


    .other {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .other__btn {
        width: 200px;
        height: 50px;
    }


    .other__blocks {
        display: none;
    }
    .other__block {
        padding: 0px 5px;
    }
    .itc-slider-1 {
        display: block;
        margin-bottom: 58px;
    }


    .new {
        padding-top: 32px;
        padding-bottom: 124px;
        min-height: 356px;
    }
    .new__img {
        margin-right: 8px;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .new__descr {
        font-size: 30px;
    }
    .itc-slider-2 {
        display: none;
    }
    .itc-slider-3 {
        display: block;
        .itc-slider-indicators {
            bottom: -60px;
        }
    }
}
//----------------------------------------------------------------------------
@media (max-width: 320px) {
    
}